/* paragraph css */
p {
    color: blue;
    font-size: 2em;
    font-family: 'Manrope', sans-serif;
}
/* caption css */
figcaption{
    color:blue;
    font-family: 'Manrope', sans-serif;
}
/* navigations css */
.nav ul{
    width: 100%;
    display: inline-block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(0, 4, 255);
}

.nav li{
    list-style-type: none;
    float: left;
    padding: 14px 16px;
    padding-left: 3em;
    padding-right: 3em;
}

.nav a{
    text-decoration: none;
    color: white;
}

.nav a:hover{
    color: rgb(255, 0, 0);
}
/* about me page css */
.row{
    width: 100%;
}


.image-and-caption{
display: inline-block;
width: 50%;
}

.text{
    vertical-align: top;
    width: 40%;
    display: inline-block;
}

/* title */
.title{
    color: blue;
    text-align: center;
}

/* button */
button{
    width: 6em;
    height: 3em;
    background-color: blue;
    color: red;
}